// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #e81f91;
	--ion-color-primary-rgb: 232,31,145;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #cc1b80;
	--ion-color-primary-tint: #ea359c;

	--ion-color-secondary: #1fe8a7;
	--ion-color-secondary-rgb: 31,232,167;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #1bcc93;
	--ion-color-secondary-tint: #35eab0;

	--ion-color-tertiary: #c51fe8;
	--ion-color-tertiary-rgb: 197,31,232;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #ad1bcc;
	--ion-color-tertiary-tint: #cb35ea;

}